@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }


  body {

  background:
    var(--bg-primary);

  color:
    var(--text-primary);

}
  body {
    @apply bg-gray-950 text-gray-100 font-sans antialiased;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-full;
  }
}
